<hr>
<p><strong><%= t(:issue_polls_caption) %></strong></p>
<%= t(:label_issue_votes) %>: <strong><%= @issue.bet_votes %></strong>
<div class="contextual">
  <%= render :partial => 'hooks/menu/add_vote' %>
  <%= render :partial => 'hooks/menu/cancel_vote' %>
  <%= render :partial => 'hooks/menu/toggle_votes_list' %>
</div>
<br><br>
<table class="list issues" id="poll-members" style="display: none">
  <tbody>
    <% @issue.valid_bets.each do |bet| %>
      <tr>
        <td> <%= bet.author.name(:firstname_lastname) %> </td>
        <td> <%= bet.sum_votes %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
